<html>
<head>
<body background="royalcake.jpeg"><br><br>
<h1 align=center><i><u>welcome to login page<u><i></h1>
<h1 align="center">
User name:<input type="text" name="">
</h1>
<br>
<br>
<br>
<center>
Password:<input type="password" name="">
</h1>
<br>
<br><br>
E-mail Id:<input type="e-mail" name="">
</h1>
<br>
<br>
<br>
<button>sign in</button>
</center>
</body>
</html>